.Form {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
